@model IEnumerable<Центр_зайнятості.Models.GetClientsAfterRequalification>
@{
    ViewData["Title"] = "Index";
}

<h1>Clients After Requalification</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Імя)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Кількість)
                </td>
            </tr>
        }
    </tbody>
</table>
