@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List of Procedures</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetClientsByCriteria" asp-action="Index">GetClientsByCriteria Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetVacanciesByCriteria" asp-action="Index">GetVacanciesByCriteria Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetClientsByOwnershipForm" asp-action="Index">GetClientsByOwnershipForm Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetClientEmploymentPercentage" asp-action="Index">GetClientEmploymentPercentage Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetClientsAfterRequalification" asp-action="Index">GetClientsAfterRequalification Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetClientsNotQualifiedAndRejected" asp-action="Index">GetClientsNotQualifiedAndRejected Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetCompaniesByWorkConditions" asp-action="Index">GetCompaniesByWorkConditions Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetReturnedClients" asp-action="Index">GetReturnedClients Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetRepeatedlyContactedCompanies" asp-action="Index">GetRepeatedlyContactedCompanies Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetClientAndVacancyCounts" asp-action="Index">GetClientAndVacancyCounts Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetExcludedClients" asp-action="Index">GetExcludedClients Procedure</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="GetUnfilledVacancies" asp-action="Index">GetUnfilledVacancies Procedure</a>
</div>

