@model IEnumerable<Центр_зайнятості.Models.GetCompaniesByWorkConditions>
@{
    ViewData["Title"] = "Index";
}

<h1>GetCompaniesByWorkConditions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Назва)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Назва)
                </td>
            </tr>
        }
    </tbody>
</table>
